Parsers/Elite Insights Parsers/GuildWars2EliteInsights.exe
Parsers/Elite Insights Parsers/reports/*
Parsers/Elite Insights Parsers/Executable/*
Parsers/Simple Parser/SimpleParser.exe
Web/Apache/reports/*.html
Web/Node/node_modules/*
Web/Node/package-lock.json
Web/Apache/reports/*
Parsers/test.zevtc
Logs/test.zevtc
.gitignore
Parsers/Elite Insights Parsers/test.zevtc
Web/Elm/elm-stuff/*
Web/Apache/Elm/elm-stuff/*
Web/Apache/Elm/node_modules/*
Web/Apache/Elm/elm.js

*.txt
*.tar
